<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <form method="post" action="/">
            <h1 id="heading">ABC</h1>
            <div id="input_name" class="input">
              <input id="name" type="text" Placeholder="Name" name="name" required>
            </div>
            <div id="input_class" class="input">
              <input type="text" placeholder="Branch" name="branch" required>
            </div>
            <div id="input_year" class="input">
              <input id="school" type="text" name="college" placeholder="College">
            </div>
            <div class="id input">
              <input id="submit" type="submit" name="submit" value="submit">
            </div>
        </form>
    </body>
</html>
