<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>
<body>
<div class="container">
    <h1>{{chapter_name |safe}}</h1>
    <h2>Choose a subchapter to start answering its questions</h2>
    <hr>

    <form style="text-align: center;" action="../questionnaire/" method="POST">{% csrf_token %}
        <input type="hidden" name="chapter" value="{{chapter}}">
        <button class="whole" style="margin-bottom: 2%; width: 80%; display: inline-block; font-size: larger;" type="submit" id="sch0" name="subchapter" value = "sch0">Full Questionnaire</button><br>

        {% load custom_filters %}

        {% for sch in counter %}
            {% with subchapter=subchapters|get_attribute:sch %}
                <button style="margin: 0.3%; width: 80%; display: inline-block; font-size: larger;" type="submit" id="{{sch}}" name="subchapter" value = "{{sch}}">{{subchapter}}</button><br>
            {% endwith %}
        {% endfor %}
    </form>


    <!-- ADD SUMMARY!!! /!-->





</div>

</body>
</html>