<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load custom_filters %}
</head>
<body>
<!-- ============================================ Navigation Bar ============================================ -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <div class="container-fluid"> <!-- Add container-fluid -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo2.png' %}" alt="Logo" width="199" height="50">
            </a>
        </div>
    </nav>
</div>


<div class="container mt-5">
  <h1>Welcome, {{first_name}} {{last_name}}!</h1>
  <h2>Continue where you left off:</h2>
  <hr>

  <form method="POST" action="../generate-chapter/" id="chapter_options">{% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Chapter</th>
        <th scope="col">Questions</th>
        <th scope="col">Pictures</th>
        <th scope="col">Summary</th>
        <th scope="col">Chapter Draft</th>
        <th scope="col">Chosen Chapter</th>
      </tr>
    </thead>
    <tbody>
      {% for ch, name, ch_num, counter in names %}
            {% with table_ch=table|get_attribute:ch %}
            <tr>
                {% if name != "Author Foreword" %}
                <td>{{name}}</td>
                <td>
                    <form style="text-align: center;" action="questionnaire/" method="POST">{% csrf_token %}
                        <input type="hidden" name="chapter" value="{{ch_num}}">
                        <div class="Choose-Subchapter">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Choose Subchapter
                          </button>
                          <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="submit" id="sch0" name="subchapter" value = "sch0">Full Questionnaire</button></li>
                            {% for sch, sch_name in counter %}
                                <li><button class="dropdown-item" type="submit" id="{{sch}}" name="subchapter" value ="{{sch}}">{{sch_name}}</button></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </form>
                </td>

                <!--
                {% comment %}
                {% else %}
                <td><label type="buton" class="btn btn-secondary" for="ch{{forloop.counter0}}">{{table_ch.questions}}</label></td>
                {% endcomment %}
                -->

                <td>{{table.chapter0.pictures}}</td>
                <td><label style="text-decoration: underline; color: #007bff" for="smch{{forloop.counter0}}">Go!</label></td>
                {% if table_ch.draft == "Waiting answers" %}
                    <td>{{table_ch.draft}}</td>
                {% else %}
                    <td><label style="text-decoration: underline; color: #007bff" for="ech{{forloop.counter0}}">{{table_ch.draft}}</label></td>
                {% endif %}

                <td>
                    <div class="btn-group" role="group" aria-label="ch{{forloop.counter0}}" id="ch{{forloop.counter0}}">
                        <input class="btn btn-primary" type="button" value="1">
                        <input class="btn btn-primary" type="button" value="2">
                        <input class="btn btn-primary" type="button" value="3">
                    </div>
                </td>

                {% endif %}
            </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
  </table>
  </form>
  <br>
  <button id="save_preferences" class="btn btn-primary">Save Preferences</button>

  <!--
  <audio controls>
    <source src="{{ audio_file }}" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
  -->

  <br><br>
  <p>Need to take a break? <a href="logout/">Log out</a></p>
  <!-- <p>Reminder: Only chapters 0, 1 and 2 have questionnaires. The creation of the other questionnaires is still in progress</p> -->

    <br><hr><br>

    <h3>Preview your book</h3>
    <p>When you start generating your chapters you will see them in the document you can download with the button below:</p>
    <form action="download-book/" method="POST">{% csrf_token %}
    <button type="submit" class="btn btn-primary">Download Book</button>
    </form>
</div>
<!-- Links for questions \!-->
    <form style="display: none" action="questionnaire/" method="POST">{% csrf_token %}
        <button type="submit" id="ch0" name="chapter" value = "0"> </button>
    </form>

    <form style="display: none" action="choose-subchapter/" method="POST">{% csrf_token %}
        <button type="submit" id="ch1" name="chapter" value = "1"> </button>
        <button type="submit" id="ch2" name="chapter" value = "2"> </button>
        <button type="submit" id="ch3" name="chapter" value = "3"> </button>
        <button type="submit" id="ch4" name="chapter" value = "4"> </button>
        <button type="submit" id="ch5" name="chapter" value = "5"> </button>
        <button type="submit" id="ch6" name="chapter" value = "6"> </button>
    </form>

    <!-- Links for Pictures \!-->
    <!-- Not implemented yet! \!-->

    <!-- Links for summary \!-->
    <form style="display: none" action="summary/" method="POST">{% csrf_token %}
        <button type="submit" id="smch0" name="chapter" value = "0"> </button>
        <button type="submit" id="smch1" name="chapter" value = "1"> </button>
        <button type="submit" id="smch2" name="chapter" value = "2"> </button>
        <button type="submit" id="smch3" name="chapter" value = "3"> </button>
        <button type="submit" id="smch4" name="chapter" value = "4"> </button>
        <button type="submit" id="smch5" name="chapter" value = "5"> </button>
        <button type="submit" id="smch6" name="chapter" value = "6"> </button>
    </form>

    <!-- Links for chapter edit \!-->
    <form style="display: none" action="chapter-edit/" method="POST">{% csrf_token %}
        <button type="submit" id="ech0" name="chapter" value = "0"> </button>
        <button type="submit" id="ech1" name="chapter" value = "1"> </button>
        <button type="submit" id="ech2" name="chapter" value = "2"> </button>
        <button type="submit" id="ech3" name="chapter" value = "3"> </button>
        <button type="submit" id="ech4" name="chapter" value = "4"> </button>
        <button type="submit" id="ech5" name="chapter" value = "5"> </button>
        <button type="submit" id="ech6" name="chapter" value = "6"> </button>
    </form>

<script>
// Function to save the user's selection in local storage
function saveSelection(key, value) {
    localStorage.setItem(key, value);
}

// Function to retrieve the user's selection from local storage
function getSelection(key) {
    return localStorage.getItem(key);
}

// Add event listeners to the input elements
document.querySelectorAll('input[type="button"]').forEach(function (button) {
    button.addEventListener('click', function () {
      // Get the value of the clicked button
      var value = this.value;
      // Get the ID of the parent accordion
      var btn_groupId = this.closest('.btn-group').id;

      // Deactivate all buttons in the same accordion
      document.querySelectorAll('#' + btn_groupId + ' input[type="button"]').forEach(function (btn) {
        btn.classList.remove('active');
      });

      // Set the clicked button as active
      this.classList.add('active');

      // Save the user's selection with a key that includes the accordion ID
      saveSelection(btn_groupId, value);
    });
});
function submitUserSelections() {
  var formData = new FormData(); // Create a FormData object to store form data

  // Loop through the accordion IDs
  document.querySelectorAll('.btn-group').forEach(function (btn_group) {
    var btn_groupId = btn_group.id;
    var savedSelection = getSelection(btn_groupId);

    // If a selection is found, add it to the FormData
    if (savedSelection) {
      formData.append(btn_groupId, savedSelection);
    }
  });

  // Create a form element
  var form = document.getElementById("chapter_options");
  form.method = 'POST'; // Set the form method (POST or GET)
  form.action = '../fireapp/save-preferences/'; // Set the server endpoint where you want to send the form data

  // Append each FormData entry as a hidden input field in the form
  formData.forEach(function (value, key) {
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;
    input.value = value;
    form.appendChild(input);
  });

  // Append the form to the document body and submit it
  document.body.appendChild(form);
  form.submit();
}

// Add a click event listener to the trigger element (e.g., the "Submit" button)
document.getElementById('save_preferences').addEventListener('click', function () {
  submitUserSelections();
});
</script>

</body>
</html>