<!DOCTYPE html>
<html>
<head>
    <title>Time to generate your chapters!</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <style>
        /* Optional: Add custom CSS for spacing between cards */
        .card {
            margin-right: 0px; /* Adjust the margin as needed */
        }

        /* Adjust the off-canvas width and height */
        .offcanvas {
          left: 2.5%;
          padding-left: 2.5%;
          width: 95%; /* Set the desired width (e.g., 80%) */
          height: 98vh; /* Set the desired height (e.g., 80vh for 80% of viewport height) */
        }

    </style>
</head>
<body>
<div class="container-fluid">

    <!-- ============================================ Navigation Bar ============================================ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <div class="container-fluid"> <!-- Add container-fluid -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo2.png' %}" alt="Logo" width="199" height="50">
            </a>
        </div>
    </nav>
</div>

<div class="container mt-5" id="page">

    <h1 class="display-4">Chapter Generation</h1>
    <h2 class="mb-4">{{chapter_name| safe}}</h2>
    <hr>

    <h5 class="simple" >It's time to start generating your chapters!</h5>
    <br>

    <!-- ============================================= Custom Prompt ============================================= -->
    <p> <strong>Recommendations</strong> for writing your prompt:</p>
    <ul>
        <li><p>What you write here will be the full and complete prompt passed to the model, so please make sure to give the model enough context about the proyect and what it needs to do.</p></li>
        <li><p><strong>DO NOT</strong> use double quotes ". This may cause the system to break.</p></li>
        <li><p>Remember to <strong>save</strong> the prompts you use,  the system will not save them.</p></li>
        <li><p>The first three texts that you generate will be each be saved in a draft below. Once you have generated three texts the next time you generate a text it will simply overwrite the first draft</p></li>

        <!--
        <li>
            <p>If you want to include the questions and answers for this specific chapter (<strong>{{chapter_name| safe}})</strong> use them writing <strong>{questions}</strong> or <strong>{answers}</strong> in the textbox. See the example below:</p><br>
            <p>If you write the following in the textbox:</p>
            <textarea class="form-control" type="text" placeholder="A person wants to write a book about their life. We asked her the following questions:&#10;&#10;{questions}&#10;&#10;&#10;And here are her answers:&#10;&#10;{answers}" rows="8" aria-label="Input example" disabled readonly></textarea>
            <br>
            <p>The prompt passed to the model will be something of the form:</p>
            <textarea class="form-control" type="text"placeholder="A person wants to write a book about their life. We asked her the following questions:&#10;&#10;question1: text for question 1&#10;question2: text for question 2&#10;...&#10;question20: text for question 20&#10;&#10;&#10;And here are her answers:&#10;&#10;answer1: text for answer 1&#10;answer2: text for answer 2&#10;...&#10;answer20: text for answer 20" rows="14" aria-label="Input example" disabled readonly></textarea>
        </li>
        -->
    </ul>
    <form method="POST" action="../generate-chapter/">{% csrf_token %}
        <label for="prompt" class="form-label">Edit your prompt below:</label>
        <textarea class="form-control" id="prompt" name="prompt" rows="15">As a biography author, write  a chapter for my biography, based on the text below, use only the Answers, keep as much detail as possible, language level; high school, tone; familiar.&#10;&#10;&#10;{{text}}</textarea>
        <br>
        <label for="temperature" class="form-label">Choose the temperature for the model</label>
        <input type="range" class="form-range" min="0" max="2" step="0.1" id="temperature" name="temperature">
        <p id="temp-display">Chosen temperature: 1 (Recommended)</p>

        <input type="hidden" name="chapter" value="{{chapter}}">

        <button style="width: 50%;" type="submit" class="btn btn-primary text-" id="submitPrompt" onclick="showSpinner()">Generate Chapter!</button>
    </form>
    <br><br>

    <!-- ============================================ Chapter Options ============================================ -->

    <!--
    {% comment %}
    <p>Use the buttons below to customize the way your chapter will be generated:</p>
    <br><br>
    <div class="accordion" id="Creativity">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecreativity" aria-expanded="true" aria-controls="collapsecreativity">
            Creativity
          </button>
        </h2>
        <div id="collapsecreativity" class="accordion-collapse collapse show" data-bs-parent="#creativity">
          <div class="accordion-body">
            Increasing the creativity value generally enhances diversity in the output but could also raise the chances of it deviating from the context. On the other hand, reducing the temperature value results in AI responses that are more concentrated and predictable, closely aligned with the answers that the user provided.
            <br><br>
                <div class="row justify-content-left">
                  <div class="col-md-2">
                    <h4>Creativity:</h4>
                  </div>
                  <div class="col-md-1">
                    <div class="btn-group" role="group" aria-label="creativity">
                      <input class="btn btn-primary" type="button" value="1">
                      <input class="btn btn-primary" type="button" value="2">
                      <input class="btn btn-primary" type="button" value="3">
                      <input class="btn btn-primary" type="button" value="4">
                      <input class="btn btn-primary" type="button" value="5">
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="accordion" id="Tone">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetone" aria-expanded="true" aria-controls="collapsetone">
            Tone
          </button>
        </h2>
        <div id="collapsetone" class="accordion-collapse collapse show" data-bs-parent="#Tone">
          <div class="accordion-body">
            Choose between a variety of tones to customize the feel your chapter will have. You may choose a <strong>Serious</strong> tone for an important or difficult stage of your life. Or you may choose a <strong>Humorous</strong> for a time of joy and happiness.
            <br><br>
                <div class="row justify-content-left">
                  <div class="col-md-1">
                    <h4>Tone:</h4>
                  </div>

                  <div class="btn-group col-md-1" role="group" aria-label="tone">
                      <input class="btn btn-primary" type="button" value="Serious">
                      <input class="btn btn-primary" type="button" value="Sincere">
                      <input class="btn btn-primary" type="button" value="Friendly">
                      <input class="btn btn-primary" type="button" value="Humorous">
                      <input class="btn btn-primary" type="button" value="Optimistic">
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="accordion" id="WritingLevel">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsewriting" aria-expanded="true" aria-controls="collapsewriting">
            Writing Level
          </button>
        </h2>
        <div id="collapsewriting" class="accordion-collapse collapse show" data-bs-parent="#WritingLevel">
          <div class="accordion-body">
            The writing level is what gives the text your personal signature, you can choose the writing level that you like the most. Are you an academic? try the <strong>Experienced Writer</strong> writing level. Would you like to talk about your early years as if it were you in that moment? Try the <strong>School Level Person</strong> writing level
            <br><br>
                <div class="row">
                  <div class="col-md-2">
                    <h4>Writing level:</h4>
                  </div>
                  <div class="col-md-1">
                    <div class="btn-group" role="group" aria-label="writinglevel">
                      <input class="btn btn-primary" type="button" value="Unschooled Person">
                      <input class="btn btn-primary" type="button" value="School Level Person">
                      <input class="btn btn-primary" type="button" value="Bachelor">
                      <input class="btn btn-primary" type="button" value="Casual Writer">
                      <input class="btn btn-primary" type="button" value="Experienced Writer">
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>
    {% endcomment %}
    -->

    <!-- ======================================= Form for Chapter Options ======================================= -->

    <!--
    {% comment %}
    <div class="container">
      <div class="row justify-content-md-center">
          <form method="POST" action="../generate-chapter/" id="chapter_options">{% csrf_token %}
            <input type="hidden" name="chapter" value="{{chapter}}">
          </form>
          <button style="width: 50%;" type="button" class="btn btn-primary text-" id="submitForm" onclick="showSpinner()">Generate Chapter!</button>
      </div>
    </div>

    {% endcomment %}
    -->

    <br><br>

    {% if flag != "" %}
    <div class="alert alert-danger" role="alert">
        {{flag}}
    </div>
    {% endif %}

    <hr>

    <br><br>

    <!-- ================================================= Cards ================================================= -->

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Draft 1</h5>

                    {% if pages.gen1.text == "" %}
                        <p class="card-text">There is nothing to show here yet. Try generating a chapter first!</p>
                    {% else %}
                        <p class="card-text">This text was generated using the following parameters:</p>
                        <ul>
                            <li>Creativity: {{pages.gen1.creativity}}</li>
                            <li>Tone: {{pages.gen1.tone}}</li>
                            <li>Writing Level: {{pages.gen1.level}}</li>

                        </ul>

                        <p class="d-inline-flex gap-1">
                          <a class="btn btn-primary" data-bs-toggle="collapse" href="#draft1" role="button" aria-expanded="false" aria-controls="draft1">
                            Preview
                          </a>
                          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom1" aria-controls="offcanvasBottom1">Edit</button>
                        </p>
                        <div class="collapse" id="draft1">
                          <div class="card card-body">
                            {{prevs.gen1}}
                          </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Draft 2</h5>
                    {% if pages.gen2.text == "" %}
                        <p class="card-text">There is nothing to show here yet. Try generating a chapter first!</p>
                    {% else %}
                        <p class="card-text">This text was generated using the following parameters:</p>
                        <ul>
                            <li>Creativity: {{pages.gen2.creativity}}</li>
                            <li>Tone: {{pages.gen2.tone}}</li>
                            <li>Writing Level: {{pages.gen2.level}}</li>

                        </ul>

                        <p class="d-inline-flex gap-1">
                          <a class="btn btn-primary" data-bs-toggle="collapse" href="#draft2" role="button" aria-expanded="false" aria-controls="draft2">
                            Preview
                          </a>
                          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom2">Edit</button>
                        </p>
                        <div class="collapse" id="draft2">
                          <div class="card card-body">
                            {{prevs.gen2}}
                          </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Draft 3</h5>
                    {% if pages.gen3.text == "" %}
                        <p class="card-text">There is nothing to show here yet. Try generating a chapter first!</p>
                    {% else %}
                        <p class="card-text">This text was generated using the following parameters:</p>
                        <ul>
                            <li>Creativity: {{pages.gen3.creativity}}</li>
                            <li>Tone: {{pages.gen3.tone}}</li>
                            <li>Writing Level: {{pages.gen3.level}}</li>

                        </ul>

                        <p class="d-inline-flex gap-1">
                          <a class="btn btn-primary" data-bs-toggle="collapse" href="#draft3" role="button" aria-expanded="false" aria-controls="draft3">
                            Preview
                          </a>
                          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom3">Edit</button>
                        </p>
                        <div class="collapse" id="draft3">
                          <div class="card card-body">
                            {{prevs.gen3}}
                          </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row justify-content-md-center">
            <a href="../" class="btn btn-primary" style="width: 30%">Return to Dashboard</a>
        </div>

    </div>


    <br><br>

    <!-- ========================================= Off-Canvas / Form ============================================== -->

<form action="../save-answers/" method="POST" name="save-texts" id="save-texts">{% csrf_token %}
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom1" aria-labelledby="offcanvasBottomLabel1">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasBottomLabel1">Edit Draft 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small"> <!-- ----- Body ----- -->

        <hr> <br><br><br>


        <div class="form-group">
          <label for="gen_text_1"> <h4>Here's your generated text. You may edit it however you'd like:</h4> </label> <br><br>
          <textarea class="form-control" id="gen_text_1" rows="25" form="save-texts" name="gen_text_1">{{pages.gen1.text}}</textarea>

          <br>

          <button style="width: 50%;" type="submit" class="btn btn-primary text-" id="saveText">Save answers!</button>
        </div>


      </div>
    </div>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2" aria-labelledby="offcanvasBottomLabel2">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasBottomLabel2">Edit Draft 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small"> <!-- ----- Body ----- -->

        <hr> <br><br><br>

        <div class="form-group">
          <label for="gen_text_2"> <h4>Here's your generated text. You may edit it however you'd like:</h4> </label> <br><br>
          <textarea class="form-control" id="gen_text_2" rows="25" form="save-texts" name="gen_text_2">{{pages.gen2.text}}</textarea>

          <br>

          <button style="width: 50%;" type="submit" class="btn btn-primary text-" id="saveText2">Save answers!</button>
        </div>


      </div>
    </div>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3" aria-labelledby="offcanvasBottomLabel3">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasBottomLabel3">Edit Draft 3</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body small"> <!-- ----- Body ----- -->

        <hr> <br><br><br>

        <div class="form-group">
          <label for="gen_text_3"> <h4>Here's your generated text. You may edit it however you'd like:</h4> </label> <br><br>
          <textarea class="form-control" id="gen_text_3" rows="25" form="save-texts" name="gen_text_3">{{pages.gen3.text}}</textarea>

          <br>

          <button style="width: 50%;" type="submit" class="btn btn-primary text-" id="saveText3">Save answers!</button>
        </div>


      </div>
    </div>

    <input type="hidden" name="chapter" value="{{chapter}}">
</form>

</div>

<!-- ========================================= Page loading ============================================== -->
<div id="loading-spinner" class="d-none container mt-5 text-center" style="padding-top: 15%">
    <div class="spinner-border text-primary" role="status" style="width: 10rem; height: 10rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <br><br><br><br><br>
    <p style="font-size: x-large">Your chapter is being generated</p>
    <p style="font-size: x-large">Please do not close or refresh the page.</p>
</div>

<!-- ============================================ <script> ================================================= -->

<script>
  // Function to save the user's selection in local storage
  function saveSelection(key, value) {
    localStorage.setItem(key, value);
  }

  // Function to retrieve the user's selection from local storage
  function getSelection(key) {
    return localStorage.getItem(key);
  }

  // Add event listeners to the input elements
  document.querySelectorAll('input[type="button"]').forEach(function (button) {
    button.addEventListener('click', function () {
      // Get the value of the clicked button
      var value = this.value;
      // Get the ID of the parent accordion
      var accordionId = this.closest('.accordion').id;

      // Deactivate all buttons in the same accordion
      document.querySelectorAll('#' + accordionId + ' input[type="button"]').forEach(function (btn) {
        btn.classList.remove('active');
      });

      // Set the clicked button as active
      this.classList.add('active');

      // Save the user's selection with a key that includes the accordion ID
      saveSelection(accordionId, value);
    });
  });

  // Load the user's previous selections when the page loads
  document.addEventListener('click', function () {
    // Loop through the accordion IDs and retrieve the selections
    document.querySelectorAll('.accordion').forEach(function (accordion) {
      var accordionId = accordion.id;
      var savedSelection = getSelection(accordionId);

      // If a selection is found, set the corresponding button as active
      if (savedSelection) {
        var activeButton = accordion.querySelector('input[value="' + savedSelection + '"]');
        if (activeButton) {
          // Deactivate all buttons in the same accordion
          document.querySelectorAll('#' + accordionId + ' input[type="button"]').forEach(function (btn) {
            btn.classList.remove('active');
          });

          // Set the saved selection button as active
          activeButton.classList.add('active');
        }
      }
    });
  });

    // Function to create and submit the form with user selections
function submitUserSelections() {
  var formData = new FormData(); // Create a FormData object to store form data

  // Loop through the accordion IDs
  document.querySelectorAll('.accordion').forEach(function (accordion) {
    var accordionId = accordion.id;
    var savedSelection = getSelection(accordionId);

    // If a selection is found, add it to the FormData
    if (savedSelection) {
      formData.append(accordionId, savedSelection);
    }
  });

  // Create a form element
  var form = document.getElementById("chapter_options");
  form.method = 'POST'; // Set the form method (POST or GET)
  form.action = '../generate-chapter/'; // Set the server endpoint where you want to send the form data

  // Append each FormData entry as a hidden input field in the form
  formData.forEach(function (value, key) {
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key;
    input.value = value;
    form.appendChild(input);
  });

  // Append the form to the document body and submit it
  document.body.appendChild(form);
  form.submit();
}

 // ========================================================================= REMEMBER TO UNCOMMENT THIS SECTION OF CODE=========================================================================
 // Add a click event listener to the trigger element (e.g., the "Submit" button)
 //    document.getElementById('submitForm').addEventListener('click', function () {
 //      showSpinner();
 //      submitUserSelections();
 //    });

  let currentQuestion = 1;
  var totalQuestions = document.getElementsByClassName('question').length;
  const list = "{{indices}}".split(" ");
  const arrOfNum = list.map(str => {return parseInt(str, 10);});
  setInterval(saveAnswers, 2 * 60 * 1000);

  function showQuestion(questionNumber) {
    var questions = document.getElementsByClassName('question');
    for (var i = 0; i < questions.length; i++) {
      questions[i].style.display = 'none';
    }
    document.getElementById('quest' + questionNumber).style.display = 'block';
    console.log(currentQuestion)
  }

  function showNextQuestion() {
    if (currentQuestion < totalQuestions) {
      currentQuestion++;
      while (!(arrOfNum.includes(currentQuestion)) && currentQuestion < totalQuestions) {
        console.log(currentQuestion)
        currentQuestion++;
      }

      if (currentQuestion === totalQuestions && !(arrOfNum.includes(currentQuestion))){
        showPreviousQuestion()
      }
      else {
        showQuestion(currentQuestion);
      }
    }
  }
    function showPreviousQuestion() {
    if (currentQuestion > 1) {
      currentQuestion--;
      while (!(arrOfNum.includes(currentQuestion)) && currentQuestion > 1) {
        console.log(currentQuestion)
        currentQuestion--;
      }

      if (currentQuestion === 1 && !(arrOfNum.includes(currentQuestion))){
        showNextQuestion()
      }
      else {
        showQuestion(currentQuestion);
      }

    }
  }

  function saveAnswers() {
    var form = document.querySelector('form');
    var formData = new FormData(form);

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "../../fireapp/save-answers/", true);

    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // Successful response
          console.log(xhr.responseText);
        } else {
          // Error handling
          console.error("Error: " + xhr.status);
        }
      }
    };

    //update status footer
    const now = new Date()
    var foot1 = document.getElementById("footnote1");
    var foot2 = document.getElementById("footnote2");
    foot1.innerHTML = `Answers Saved!`;
    foot1.style.display = "inline-block"

    const options = {
      hour: "2-digit",
      minute: "2-digit",
      timeZoneName: "short",
    };
    const americanDateTime = new Intl.DateTimeFormat("en-US", options).format;
    const save_time = americanDateTime(now)

    foot2.innerHTML = `     ${save_time}`;
    foot2.style.color = "#909090"
    foot2.style.display = "inline-block"

    xhr.send(formData);
  }

  if (arrOfNum.includes(1)) {
    showQuestion(currentQuestion);
  }
  else {
    showNextQuestion()
  }

  function showSpinner() {
        document.getElementById('loading-spinner').classList.remove('d-none');
        document.getElementById('page').classList.add('d-none');
    }

  // Add a click event listener to the trigger element (e.g., the "Submit" button)
  const temp = document.getElementById('temperature');
  temp.addEventListener('click', function () {
    document.getElementById("temp-display").innerHTML = "Chosen temperature: " + temp.value
    console.log(temp.value)
  });

</script>


</body>
</html>
