<!DOCTYPE html>
<html>
<head>
    <title>Edit your chapter</title>
    <style>
        body {font-size: x-large}
    </style>
</head>
<body>
    <h1>Edit Your Chapter!</h1>
    <h2>{{chapter_name}}</h2>

    <form action="../../fireapp/save-text/" method="POST">{% csrf_token %}
        <label for="text">This is the chapter that our AI model generated for you:</label><br>
        <textarea id="text" name="text" rows="30" cols="200">{{text}}</textarea><br><br>
        <button type="submit" id="chapter" name="chapter" value="{{chapter}}"> Save!</button>
    </form>
</body>
</html>