<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legacy Chat</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load custom_filters %}

</head>
<body>

<!-- ============================================ Navigation Bar ============================================ -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <div class="container-fluid"> <!-- Add container-fluid -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo2.png' %}" alt="Logo" width="199" height="50">
            </a>
        </div>
    </nav>
</div>


<div class="container mt-5">
    <h1 class="fs-1">Legacy Chat</h1>
    <br>
    <h2 class="fs-2">Preserving Family Wisdom</h2>

    <br>
    <hr>
    <p class="fs-4">

    Dear User,
    We are thrilled to extend this invitation to you to join our beta testing program for our latest software, 'Legacy Chat'. Your willingness to volunteer your time and provide valuable feedback is greatly appreciated by our entire team.
    As a beta tester, your insights are crucial in shaping the final version of our product. Here are the key steps and things to observe during the testing phase:
    </p>

    <ol class="fs-4">
    <li>  Account Creation: Please follow the instructions to create an account and log in into the page. Note any difficulties or unexpected issues during this process.
    <br>
    <br>
    <li>  Usability Testing: Engage with the software as you would in your daily routine. Pay attention to its ease of use, navigation, and overall user experience.
    <br>
    <br>
    <li>  Feature Evaluation: Test each feature thoroughly. We are particularly interested in your thoughts on the <strong>Chapter Generation</strong> and <strong>Book Drafting</strong>.
    <br>
    <br>
    <li>  Performance Monitoring: Observe how the software performs under different conditions, such as under heavy load or when running in the background.
    <br>
    <br>
    <li>  Error Reporting: Should you encounter any bugs or glitches, please contact us tool to report these issues. Include as much detail as possible.
    <br>
    <br>
    <li>  Feedback Submission: At the end of each testing week, please message us with your feedback. Your honest opinions, both positive and negative, are invaluable. You may contact the e-mail <strong>jn.sepulveda55@gmail.com</strong> or any other that was provided to you
    <br>
    <br>
    <li>  Confidentiality: As this is a beta version, please maintain confidentiality regarding the software’s features and performance.
    </ol>

    <br>
    <p class="fs-4">
    Your feedback will directly contribute to the improvement and success of our software. We are excited to have you on board and look forward to your valuable contributions.

    Thank you once again for your commitment and support.

    Warm regards,

    The Legacy Chat Team.
    </p>

    <hr>
    <br>
    <h3>Creating an account: </h3>
    <br>
    <p class="fs-4">To create an account, please use the following link to the registration page <a href="../users/register">here</a>. In this page you will be asked to provide your firstname, lastname and e-mail.</p>
    <p class="fs-4">You will also be asked to create a password for your account. If you ever forget your password, there will be an option to recover your password via e-mail.</p>
    <br>
    <p class="fs-4">If you already registered, please log into your account <a href="../users/login">here</a></p><br><br>

</div>
</body>
</html>