<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load custom_filters %}

</head>
<body>

<!-- ============================================ Navigation Bar ============================================ -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
        <div class="container-fluid"> <!-- Add container-fluid -->
            <a class="navbar-brand" href="#">
                <img src="{% static 'logo2.png' %}" alt="Logo" width="199" height="50">
            </a>
        </div>
    </nav>
</div>

<div class="container mt-5">
  <h1>Log into your Legacy Chat account!</h1>
    <br><br>
  <form action="../../fireapp/login/" method="POST" id="form">{% csrf_token %}

    <div class="mb-3">
      <label class="form-label fs-3" for="email">Email</label>
      <input class="form-control fs-3" type="email" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label fs-3" for="password">Password</label>
      <input class="form-control fs-3" type="password" id="password" name="password" required>
        <br>
      <button class="btn btn-primary fs-4" type="button" id="togglePassword">See Password</button>
    </div>

    <br>

    <div id="flag">
      <h4>{{flag}}</h4>
    </div>

    <br>
    <input class="btn btn-primary fs-4" type="submit" value="Log in">

  </form>

  <br>

  {% if flag != ""%}
  <div class="alert alert-danger" role="alert">
    Forgot your password? Reset it <a href="../password-recovery">here</a>
  </div>
  {% endif%}


<script>
const togglePasswordButton = document.getElementById("togglePassword");
const passwordInput = document.getElementById("password");

togglePasswordButton.addEventListener("click", function() {
  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    togglePasswordButton.textContent = "Hide Password";
  } else {
    passwordInput.type = "password";
    togglePasswordButton.textContent = "See Password";
  }
});
</script>


</div>
</body>
</html>